.rewiews__plate {
    transform: translateX(-50px);
}

.rewiews__wrapper {
    margin: 100px 0;
    position: relative;
}

.rewiews__tile {
    margin: 0px auto;
    position: relative;
    width: 600px;
    padding: 31px 45px;
    background: #FFFFFF;
    border: 5px solid #4C75A3;
    box-shadow: 14px 22px 40px rgba(30, 35, 66, 0.28);
    border-radius: 20px;
}

.rewiews-wrapper__spot {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translateY(-50%);
}

.rewiews-spot__img {
    width: 500px;
}

.rewiews-tile__content {
    gap: 40px;
    min-height: 190px;
    align-items: center;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.rewiews-tile__content.fading {
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transform: scale(0.9);
}

.rewiew-tile__bg {
    width: 200px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.rewiews-tile__descr {
    position: relative;
    z-index: 3;
}

.rewiews__nav {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.rewiews-nav__arrow {
    cursor: pointer;
    -webkit-filter: drop-shadow( 30px 0px 10px rgba(0, 0, 0, 0.1));
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.1));
}

.rewiews-nav__arrow--right {
    transform: rotate(180deg);
}


@media (max-width: 700px) {
    .rewiews__tile {
        width: 100%;
    }

    .rewiews-spot__img {
        width: 80%;
    }
}

@media (max-width: 550px) {
    .rewiews-tile__content {
        flex-direction: column;
        gap: 20px
    }

    .rewiews__wrapper {
        margin: 50px 0;
       
    }

    .rewiews-spot__img,
    .rewiew-tile__bg {
    display: none;
    }


}

@media (max-width: 500px) {

}