.Header {
    padding-top: 10px;
    padding-bottom: 19px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #E4E5EC;
    transition: background-color 0.3s ease-in-out;
}

.Header.open {
    background-color: #EFF2FD;
    transition: background-color 0.3s ease-in-out;
}



.header__wrapper {
    align-items: center;
    gap: 29px;
}

.headerBar__menu {
    gap: 30px
}

.headerBar {
    padding: 15px 0;
}

.header__burger-button {
    display: none;
    position: relative;
    min-width: 43px;
    min-height: 43px;
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
    border-radius: 90px;
}

.header-burger-button__line {
    display:block;
    height: 2px;
    width: 17px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;

    transition: transform 0.3s ease-in-out;
}

.header-burger-button__line:nth-of-type(1n) {
    transform: translate(-50%, -8px);
}

.header-burger-button__line:nth-of-type(2n) {
    transform: translate(-50%, -50%);
}

.header-burger-button__line:nth-of-type(3n) {
    transform: translate(-50%, 6px);
}


.header__burger-button.open .header-burger-button__line:nth-of-type(1n) {
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.header__burger-button.open .header-burger-button__line:nth-of-type(3n) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header__burger-button.open  .header-burger-button__line:nth-of-type(2n) {
    opacity: 0;
    visibility: hidden;
}

@media(max-width: 1000px) {
    .header__logo {
        width: 170px
    }
}

@media (max-width: 700px) {

    .header__burger-button {
        display: block;
    }

    .header-wrapper__phone {
        display: none;
    }

    .header-wrapper__button {
        display: none;
    }

    .header-bar__wrapper {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        top: -100%;
        z-index: 0;

        position: absolute;
        width: 100vw;
        background: #EFF2FD;
        box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
        border-radius: 0px 0px 15px 15px;
        transition: all 0.3s ease-in-out;
    }

    .header-bar__wrapper.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        top: auto;
        z-index: 3;

        position: absolute;
        width: 100vw;
        background: #EFF2FD;
        box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
        border-radius: 0px 0px 15px 15px;
        transition: all 0.3s ease-in-out;
    }

    .headerBar__menu {
        flex-direction: column;
    }

    .headerBar__item {
        font-weight: 500;
    font-size: 14px;
    line-height: 118.2%;

    text-align: center;

    color: #243976;

    }



}