.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.footer-contact__wrapper {
    display: flex;
    align-items: center;
}

.footer-class__title {
    margin-bottom: 15px;
}

.footer-class__grade:not(:last-child),
.footer-contact__wrapper:nth-child(1n) {
    margin-bottom: 10px;
}

 .footer-wrapper__link,
 .footer-wrapper__descr {
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #243976;
}

@media (max-width: 800px) {
    .footer {
        gap: 40px;
        flex-direction: column;
        align-items: center;
    }
}