.likes {
    padding-top: 60px;
    padding-bottom: 60px;
}

.likes-plate__list {
    padding: 13px 20px;
    border-radius: 25px;
    align-items: center;
    gap: 15px;
}

.liked-plate__list:hover {
    background: #FFFFFF;
    box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
}

.liked-plate__list:hover .likes-item__title  {
    color: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
}

 
.likes-item__title {
    margin-bottom: 10px;
}
 
.likes-item__descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #243976;
    margin-bottom: 10px;
}

.likes__plate {
    display: flex;
    flex-direction: column;
    gap: 23px;
    flex-basis: 60%;
}


@media (max-width: 800px) {
    .likes___wrapper {
        flex-direction: column;
    }
}