:root {--gradient-left: #4271DF;
--gradient-right: #789CF1;
}

.Grade__plate {
    display: flex;
    gap: 13px;
    margin-bottom: 15px;
}

.Grade-plate__tile {
    display: inline-block;
    padding: 8px 30px;
    background: linear-gradient(26.5deg, var(--gradient-left), var(--gradient-right));
    transition: all 0.3s ease-in-out;
    border-radius: 15px;

}

.Grade-tile__title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 118.2%;
    color: #FFFFFF;
    margin: auto 0;
}

.Grade-plate__tile:hover {
  
    background-position: top;  
    transform: scaleY(1.1);
    filter: drop-shadow(0px 6px 21px rgba(104, 130, 245, 0.67));

    transition: all 0.3s ease-in-out;

    --gradient-left: #864FF1;
    --gradient-right: #49B3F7;
}

.Grade-plate__tile:hover:hover .Grade-tile__title { transform: scaleY(.9); }

.Banner {
        margin-top: 47px;

    padding-bottom: 50px;
    align-items: center;
}

.Banner__wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60%;
}

.Banner__title--blue {
    color: #49B3F7
}

.Banner__descr {
    width: 85%;
}

.Banner__descr, 
.Banner__descr--bold{
    margin-bottom: 37px;
   
    font-weight: 400;
    font-size: 17px;
    line-height: 165.2%;
    color: #243976;
}

.Banner__descr--bold {
    display: inline-block;
    font-weight: 700;
    position: relative;
}

.Banner__descr--bold::after {
content: url(../../../../public/banner/right-arrow\ 1.svg);
position: absolute;
right: 65px;
top: 20px;
}

.Banner__icon {
    transform: scale(1.1) translateX(-50px);
 
}

@media (max-width: 800px) {
    .Banner {
        flex-direction: column-reverse;
    }

    .Banner-icon__wrapper {
        margin-bottom: 20px;
    }

    .Banner__icon {
        transform: translateX(0);
     
    }

    .Banner__title,
    .Banner__descr,
    .Banner__descr--bold {
        text-align: center;
    }

    .Banner__descr--bold  {
        display: block;
    }


    .Banner__descr {
        width: 100%;
    }

    .Banner__button {
        margin: 0 auto;
    }

    .Banner__descr--bold::after {
        display: none;
        }
        


}

@media (max-width: 700px) {
    .Grade__plate {
        display: none;
    }

}
