

:root {--button-gradient-left: #4271DF;
    --button-gradient-right: #789CF1;
}

@font-face {
    font-family: 'ALSSchlangesans-Bold';
    src: url(../public/fonts/ALSSchlangesans-Bold.woff);
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../public/fonts/GothamPro-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../public/fonts/GothamPro-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(../public/fonts/GothamPro-Light.woff);
    font-weight: 400;
}

$dark-blue: #243976;

.bg-gradient {
    background: linear-gradient(180deg, #FFFFFF 0%, #EEF1FD 100%);
}

.bg-blue {
    background: #EFF2FD;
}

body {
        font-family: 'Gotham Pro';
}

button {
        font-family: 'Gotham Pro';
}

.back-to-top-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 25px;
    bottom: 25px;
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.back-to-top-button__icon {
    width: 70%;
    transform: rotate(-90deg);
}

p, h1, h2, h3 {
    color: #243976;
}

h1 {
    margin-bottom: 40px;
    font-family: 'ALSSchlangesans-Bold';
    font-size: 84px;
    line-height: 103.2%;
    color: #243976;
}


h2 {
margin-bottom: 55px;
font-family: 'ALSSchlangesans-Bold';
font-size: 50px;
line-height: 103.2%;
text-align: center;
}


h3 {
font-family: 'ALSSchlangesans-Bold';
font-size: 32px;
line-height: 103.2%;
color: #243976;
}

h4 {
font-weight: 500;
font-size: 20px;
line-height: 103%;
color: #243976;
}

.sub-title {
    transform: translateX(-100%);
    opacity: 0;
    transition: 1s ease-in-out all;
}

.sub-title--active {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease-in-out all;
}


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1350px;
}

.section {
    padding: 0px 160px;
}

@media (max-width: 1100px) {
    .section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.container-bottom {
    margin-bottom: 80px;
}

.container-inner {
    padding: 0px 160px;
    max-width: calc(1350px - (160px * 2px));
}

@media (max-width: 1100px) {
    .container-inner {
        padding: 0px 50px;
    }
}

.purple-button {
    display: block;
    padding: 23px 31px;
    background: linear-gradient(272.77deg, var(--button-gradient-left), var(--button-gradient-right));
    box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
    border-radius: 90px;

    font-weight: 700;
    font-size: 11px;
    line-height: 118.2%;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.purple-button:hover {
    filter: drop-shadow(0px 6px 21px rgba(104, 130, 245, 0.67));
    transition: all 0.3s ease-in-out;
    --button-gradient-left: #864FF1;
    --button-gradient-right: #49B3F7;
   
}

.button-long {
    padding: 27px 44px;
}



@media (max-width: 1000px) {

    h1 {
        font-size: 78px;
    }

    h2 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 40px;
    }

    h3 {
    font-size: 26px;
    }



    .section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .container-inner {
        padding: 0px 40px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }


    h3 {
        font-size: 24px;
        }

        h4 {
            font-size: 16px;
            }

        .section {
            padding-left: 20px;
            padding-right: 20px;
        }

        .container-bottom {
            margin-bottom: 70px;
        }

        .container-inner {
            padding: 0px 20px;
        }
}

@media (max-width: 480px) { 
    .container-bottom {
        margin-bottom: 50px;
    }
}

@media (max-width: 320px) {    h1 {
    font-size: 34px;
}


    h2 {
        font-size: 28px;
    }


    h3 {
        font-size: 20px;
        }

        .container-bottom {
            margin-bottom: 40px;
        }
}